{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row my-3 mx-0">
    <div class="col-12 text-center">
        <h2>Categories</h2>
    </div>
</div>
<div class="row my-5 mx-0">
    {% for category in categories %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="text-center">
                {% if category.image %}
                <a aria-label="view product in product details page" class="text-decoration-none" href="#">
                    <img class="card-img-top img-fluid" src="{{ category.image.url }}" alt="{{ category.name }}">
                </a>
                {% else %}
                <a aria-label="view product with no image in product details page" href="#">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="">
                    <h3 class="mt-3 text-center">{{ category.name }}</h4>                     
                </div>
            </div>
        </div>
        <!-- full width for each product on smaller screen, two/three on medium and four on large -->
        {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}                        
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
<!-- landing image section -->
<div class="landing-image">
    <div class="container-fluid col-lg-12">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="text-center">
                    <!-- Darkend box to include clear content and button style-->
                    <h1 class="mb-1 p-2 text-white">Welcome to Recipe|Master</h1>
                    <h3 class="mb-2 p-1 text-white">Please log in to continue</h3>
                    <h3 class="mb-2 p-1 text-white"><i class="far fa-hand-point-down"></i></h3>
                    
                    <a aria-label="log in" class="btn btn1 p-3 text-white" href="{% url 'account_login' %}">Log In Now</a>                 
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}