{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row my-4 mx-0">
    <div class="col-12 text-center">
        <h1>Categories</h1>
    </div>
    <div class="col-12 my-auto text-center">
        <a aria-label="recipes page" href="{% url 'recipes' %}" class="btn btn1 mx-3 my-3">
            All Recipes
        </a>
        {% if request.user.is_superuser %}
            <a aria-label="recipes page" href="{% url 'add_category' %}" class="btn btn1 mx-3 my-3">
                Add Category
            </a>
        {% endif %}
    </div>
</div>
<div class="row mt-3 mb-5 mx-0">
    {% for category in categories %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="text-center category-div">
                {% if category.image %}
                <a aria-label=" page" class="text-decoration-none" href="{% url 'recipes' %}?category={{ category.name }}">
                    <img class="card-img-top img-fluid mt-4" src="{{ category.image.url }}" alt="{{ category.name }}">
                </a>
                {% else %}
                <a aria-label="view category with no image in product details page" href="#">
                    <img class="card-img-top img-fluid mt-4" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}

                <h3 class="my-3 p-2 text-center">{{ category.name }}</h4>    
                                 
                {% if request.user.is_superuser %}
                    <div class="row">
                        <div class="col-6 text-center mb-2">
                            <a aria-label="update" class="text-info fs-6" href="{% url 'update_category' category.id %}"><strong><i class="fas fa-wrench"></i></strong></a>
                        </div>
                        <div class="col-6 text-center mb-2">
                            <a aria-label="delete" class="text-danger fs-6" href="{% url 'delete_category' category.id %}"><strong><i class="fas fa-trash-alt"></i></strong></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- full width for each product on smaller screen, two/three on medium and four on large -->
        {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}                        
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block">
                <hr class="w-75 mx-auto my-4">
            </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
<!-- landing image section -->
<div class="landing-image bg-transparent">
    <div class="container-fluid col-lg-12">
        <div class="row justify-content-start">
            <div class="col-12 col-md-6">
                <div class="text-center">
                    <!-- Darkend box to include clear content and button style-->
                    <h1 class="mb-1 p-2 main-logo main-logo-size">Zoltán's |<i class="fas fa-book-open fs-4"></i>| Recipes</h1>
                    
                    <a aria-label="log in" class="btn btn1 text-black orange-color fs-5 p-3 my-4" href="{% url 'account_login' %}">Log In <i class="fas fa-sign-in-alt"></i></a>                 
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}