html {
    
  }

body {
    padding: 0;
    margin: 0;
    background-color: rgba(254, 250, 224, 0.4);
  }

  /* setting font styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gideon Roman', cursive;
}

p, button, a {
font-family: 'Raleway', sans-serif;
font-size: 1.2rem;
}

a {
color: rgba(188, 108, 37, 1);
text-decoration: none;
}
a:hover {
color: rgba(0, 114, 0, 1);
}

header {
    position: relative;
    z-index: 50;
    background: rgba(254, 250, 224, 1);
    }

    /* setting general button design */
/* design idea from 'Animated CSS Buttons'  */
.btn{
  position: relative;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  margin: auto ;
  text-decoration: none;
  border: 1px solid white;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #BC6C25;
  color: white;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.5s ease;
} */
/* general button hover effect */
.btn1:hover {
  color: white;
}
.btn1::before{
  width: 0%;
  height: 100%;
}
.btn1:hover::before{
  width: 100%;
}

/* index.html */
.landing-image {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.landing-image .container-fluid {
  background: url('/media/landing-page-image.jpg') center;
  background-size: cover;
  margin: 0px auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.landing-image .container-fluid .text-center {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 20px 0;
  top: 50%;
  border-radius: 8px;
}
/* image styling for categories */
.card-img-top {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* margin: 5vh auto; */
}

.img-fluid {
  max-width: 130%;
}

/* footer section in base.html */
.footer {
    position: relative;
    z-index: 1000;
  }