<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav nav w-auto mx-auto">
        <!-- account -->
        <li  class="dropdown nav-item d-block d-lg-none">
            <a aria-label="account" class="dropdown-toggle text-white my-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
          
            <ul class="dropdown-menu dropdown-background" aria-labelledby="dropdownMenuLink">
            {% if request.user.is_authenticated %}
                <li><a aria-label="home page" class="dropdown-item orange-theme fw-bold" href="{% url 'home' %}">Home</a></li>
                <li><a aria-label="log out" class="dropdown-item orange-theme fw-bold" href="{% url 'account_logout' %}">Log Out</a></li>
                {% if request.user.is_superuser %}
                    <li><a aria-label="admin panel" href="{% url 'admin:index' %}" class="dropdown-item orange-theme fw-bold">Admin Panel</a></li>
                {% endif %}
            {% else %}
                <li><a aria-label="log in" class="dropdown-item orange-theme fw-bold" href="{% url 'account_login' %}">Log In</a></li>
            {% endif %}
            </ul>
        </li>

        <li  class="dropdown nav-item">
            <a aria-label="categories" class="dropdown-toggle text-white my-2" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
          
            <ul class="dropdown-menu dropdown-background" aria-labelledby="dropdownMenuLink">
                <li><a aria-label="All categories" class="dropdown-item orange-theme fw-bold" href="{% url 'home' %}">All Categories</a></li>
                {% if request.user.is_superuser %}
                    <li><a aria-label="add category" href="{% url 'add_category' %}" class="dropdown-item orange-theme fw-bold">Add Category</a></li>
                {% endif %}
            </ul>
        </li>

        <li class="dropdown nav-item">
            <a aria-label="Golf Clubs" class="dropdown-toggle text-white my-2" href="#" role="button" id="dropdownClubsLink" data-bs-toggle="dropdown" aria-expanded="false">
              Recipes
            </a>
          
            <ul class="dropdown-menu dropdown-background" aria-labelledby="dropdownClubsLink">
                <li><a aria-label="All recipes" class="dropdown-item orange-theme fw-bold" href="{% url 'recipes' %}">All Recipes</a></li>
                {% if request.user.is_superuser %}
                    <li><a aria-label="add recipe" href="{% url 'add_recipe' %}" class="dropdown-item orange-theme fw-bold">Add Recipe</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>