<menu class="me-4">
    <li class="list-inline-item dropdown">
        <a rel="nofollow" aria-label="view account options" class="dropdown-toggle d-block d-lg-none" href="#" role="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
            <div><i class="mobile-icon fas fa-user fa-lg"></i></div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            {% if request.user.is_authenticated %}
                <li><a aria-label="home page" class="dropdown-item" href="{% url 'home' %}">Home</a></li>
                <li><a aria-label="my profile" class="dropdown-item" href="#">My Profile</a></li>
                <li><a aria-label="log out" class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
                {% if request.user.is_superuser %}
                    <li><a aria-label="add product" href="#" class="dropdown-item">Add Product</a></li>
                    <li><a aria-label="admin panel" href="{% url 'admin:index' %}" class="dropdown-item">Admin Panel</a></li>
                    <li><a aria-label="register" class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}
            {% else %}
                <li><a aria-label="log in" class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </li>
    </menu>