{% extends "base.html" %}
{% block title %}Delete Booking{% endblock title %}

{% block content%}
{% load static %}
<!-- This page is created as a layer of defence to ensure user
really wants to delete from database -->
<div class="landing-image">
    <div class="container-fluid">
        <div class="row shadow">
            <div class="col-12 col-md-6 mt-4 mx-auto my-auto black-background shadow">
    
                <h2 class="text-center">
                    Delete " <strong>{{ recipe.name }}</strong> "?
                </h2>
                {% if recipe.image %}
                    <div class="text-center">
                        <img class="card-img-top img-fluid mx-auto" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                    </div>
                {% else %}
                    <div class="text-center">
                        <img class="card-img-top img-fluid mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.name }}">
                    </div>
                   
                {% endif %}
                
                <div class="row">
                    <div class="col-md-6 mb-4 mx-auto text-center">
                        <!-- form is linked with recipe using its id and submit button set to delete recipe if clicked -->
                        <form action="{% url 'delete_recipe' recipe.id %}" method="POST">
                            {% csrf_token %}
                            <button aria-label="submit" class="btn btn1 m-3" type="submit" name="Confirm">Submit</button>
                            <a aria-label="cancel" class="text-decoration-none btn btn1 m-3" href="{% url 'recipes' %}">
                                Cancel
                            </a>
                        </form>
                                  
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
        
{% endblock%} 