{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-3 logo-font text-center">{{ recipe.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                <!-- if product has no image, display general 'none' image in Media -->
                {% if recipe.image %}
                    <a aria-label="view recipe in recipe details page" class="text-decoration-none" href="#">
                        <img class="card-img card-img-fluid" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                    </a>
                {% else %}
                    <a aria-label="view recipe with no image in recipe details page" href="#">
                        <img class="card-img card-img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <p class="text-muted">Prep time: {{ recipe.prep_time }} mins</p>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <p class="text-muted">Cooking time: {{ recipe.cooking_time }} mins</p>
                </div>
            </div>
            
            
            
           
        </div>
        <!-- recipe details section containing recipe information -->
        <div class="col-12 col-md-6 col-lg-4 mx-lg-auto">
            <!-- INGREDIENTS ROW -->
            <div class="row mb-5 mt-md-5">
                <div class="col-12 text-center">
                    <h2>Ingredients</h2>
                </div>
                <div class="col-6">
                    <p>Ingredient 1</p>
                </div>
                <div class="col-6">
                    <p>Amount + type</p>
                </div>
            </div>

            <!-- RECIPE ROW -->
            <div class="row mb-5 mt-md-5">
                <div class="col-12 text-center">
                    <h2>Tools Required</h2>
                </div>
                <div class="col-12">
                    <p>{{ recipe.tools_required|striptags }}</p>
                </div>
            </div>

            <!-- if user is superuser, display edit and delete options -->
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-6 text-center">
                    <a aria-label="update" class="text-info fs-3" href="#"><strong><i class="fas fa-wrench"></i></strong></a>
                </div>
                <div class="col-6 text-center">
                    <a aria-label="delete" class="text-danger fs-3" href="#"><strong><i class="fas fa-trash-alt"></i></strong></a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- RECIPE STEP GUIDE -->
</div>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}