{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-4 mb text-center">
            <a aria-label="back to all recipes" href="{% url 'recipes' %}" class="btn btn1 fs-5 p-2">
                <i class="fas fa-long-arrow-alt-left me-2"></i> All Recipes
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5 mt-5 justify-content-center mx-auto shadow">
            <h1 class="my-3 logo-font text-center">{{ recipe.name }}</h1>
            <h2 class="text-center text-white fs-5">Difficulty: {{ recipe.difficulty }}</h2>
            <div class="image-container mt-5 mb-2">
                <!-- if product has no image, display general 'none' image in Media -->
                {% if recipe.image %}
                    <a aria-label="view recipe in recipe details page" class="text-decoration-none" href="#">
                        <img class="card-img card-img-fluid rounded-3" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                    </a>
                {% else %}
                    <a aria-label="view recipe with no image in recipe details page" href="#">
                        <img class="card-img card-img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.name }}">
                    </a>
                {% endif %}
            </div>
            <!-- recipe elements under image -->
            <div class="row">
                <div class="col-12 col-md-6 my-2 text-center">
                    <h5 class="text-white fs-6">Prep time: <strong>{{ recipe.prep_time }}</strong> mins</h5>
                </div>
                <div class="col-12 col-md-6 my-2 text-center">
                    <h5 class="text-white fs-6">Cooking time: <strong>{{ recipe.cooking_time }}</strong> mins</h5>
                </div>
            </div>
            
            
            
           
        </div>
        <!-- recipe details section containing recipe information -->
        <div class="col-12 col-md-5 mt-5 mx-lg-auto mx-auto my-auto shadow p-2">
            <div class="mb-4 text-center">
                <h2>Ingredients</h2>
                <div class="text-center my-4">
                    {% if request.user.is_superuser %}
                        <a aria-label="home page" href="{% url 'update_recipe' recipe.id %}" class="btn btn1 m-3">
                            Add Ingredient
                        </a>
                    {% endif %}
                    <button aria-label="show ingredients" onClick="displayIngredients()" id="ingredient-display" class="btn btn1 m-3">
                        Show Ingredients
                    </button>
                    <button aria-label="hide ingredients" onClick="hideIngredients()" id="hide-display" class="btn btn1 m-3">
                        <i class="fas fa-eye-slash"></i>
                    </button>
                </div>
                <h2 class="fs-6 my-3 text-white">(Remember, each portion is for " <strong class="orange-theme">{{ recipe.number_of_people }}</strong> " people)</h2>
            </div>
            <!-- INGREDIENTS ROW -->
            {% if ingredients %}
                <div class="row mb-5 mt-md-5" id="ingredient-screen">
                    <div class="row">
                        <div class="col-6 text-center"><h3 class="fs-4 fw-bold">Ingredients</h3></div>
                        <div class="col-4 text-center"><h3 class="fs-4 fw-bold">Amount/Unit</h3></div>
                        <div class="col-2 text-center"><h3 class="fs-4 fw-bold">Delete</h3></div>
                    </div>
                    {% for ingredient in ingredients %}
                    <div class="row border m-0">
                        <div class="col-5 mx-auto border-end">
                            <h3 class="fs-5 text-white p-1">{{ ingredient.ingredient_name }}</h3>
                            
                        </div>
                        <div class="col-5 mx-auto">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <h3 value="{{ ingredient.amount }}" class="fw-bold text-white quantity-amount p-1 fs-5">{{ ingredient.amount }}</h3>
                                </div>
                                <div class="col-4 border-end">
                                    <h3 class="fs-5 text-white p-1">({{ ingredient.quantity_type }})</h3>
                                </div>
                                {% if request.user.is_superuser %}
                                    <div class="col-4 text-center">
                                        <!-- form is linked with recipe using its id and submit button set to delete recipe if clicked -->
                                        <form action="{% url 'delete_ingredient' ingredient.id  %}" method="POST">
                                            {% csrf_token %}
                                            <button aria-label="submit" class="bg-transparent mx-auto border-0 text-danger m-2 text-center" type="submit" name="Confirm"><strong><i class="fas fa-trash-alt"></i></strong></button>
                                        
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row" id="quantity-screen">
                    <div class="col-12 col-md-8 mx-auto">
                        <form id="quantity-form" method="POST" action="#">
                            {% csrf_token %}
                            <div class="quantity">
                                
                                <label class="text-center text-white fs-6" for="quantity">Number of portions</label>
                                <!-- user enters their player name which is then used in welcome message of #menu-screen -->
                                <input id="quantity" placeholder="Enter Value" class="text-white" name="quantity" type="number" required>
                                <!-- submit button of form element which also opens menu section -->
                                <input type="submit" value="Calculate" class="btn btn1 mt-2 my-3" id="start-button" aria-label="Click on the button to confirm player name entered"/>
                    
                            </div>
                        </form>
                    </div>
                </div>
                
            {% else %}
                <div class="row mb-5 mt-md-5">
                    <div class="col-12 text-center">
                        <h2><strong>No ingredients added yet</strong></h2>
                    </div>
                </div>
            {% endif %}

            <!-- RECIPE ROW -->
            <div class="row mb-5 mt-md-5">
                <div class="col-12 text-center">
                    <h2>Tools Required</h2>
                </div>
                <div class="col-8 mx-auto text-center">
                    <p class="text-white">{{ recipe.tools_required|striptags }}</p>
                </div>
            </div>

            <!-- if user is superuser, display edit and delete options -->
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-6 text-center">
                    <a aria-label="update" class="text-info fs-3" href="{% url 'update_recipe' recipe.id  %}"><strong><i class="fas fa-wrench"></i></strong></a>
                </div>
                <div class="col-6 text-center">
                    <a aria-label="delete" class="text-danger fs-3" href="{% url 'delete_recipe' recipe.id  %}"><strong><i class="fas fa-trash-alt"></i></strong></a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!-- RECIPE STEP GUIDE -->
    <div class="row mt-5">
        <div class="col-12 col-md-5 mx-auto text-center shadow p-2">
            <h2>Step Guide</h2>
            <p class="text-white">{{ recipe.step_guide|striptags }}</p>
        </div>
        <div class="col-12 col-md-5 my-auto mx-auto">
            <div class="col-12 mx-auto shadow p-3">
                <h2 class="my-4 p-2 text-center">Other Recipes</h2>

                <div class="row my-2">
                    {% if links %}
                        {% for link in links %}

                            <div class="col-12 col-lg-5 mx-auto mt-4 text-center shadow">
                                <a aria-label="{{ link.linked_recipe.name }}" href="{% url 'full_recipe' link.linked_recipe.id %}">
                                    <h4 class="text-white mt-2 mb-3 text-decoration-underline">{{ link.linked_recipe.name }}</h4>
                                    <h6 class="text-white">Prep time: {{ link.linked_recipe.prep_time }}</h6>
                                    <h6 class="text-white">Cooking Time: {{ link.linked_recipe.cooking_time }}</h6>
                                </a>
                                {% if request.user.is_superuser %}      
                                    <!-- form is linked with recipe using its id and submit button set to delete recipe if clicked -->
                                    <form action="{% url 'delete_linked_recipe' link.id  %}" method="POST">
                                        {% csrf_token %}
                                        <button aria-label="submit" class="bg-transparent mx-auto border-0 text-danger m-2 text-center" type="submit" name="Confirm"><strong><i class="fas fa-trash-alt"></i></strong></button>
                                    
                                    </form> 
                                {% endif %}
                            </div>

                            <div class="col-12 col-lg-5 mt-4 mx-auto text-center">
                                <a aria-label="{{ link.linked_recipe.name }}" href="{% url 'full_recipe' link.linked_recipe.id %}">
                                    {% if link.linked_recipe.image %}
                                        <img class="basket-img text-center rounded" src="{{ link.linked_recipe.image.url }}" alt="{{ link.linked_recipe.name }}">
                                    {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ link.linked_recipe.name }}">
                                    {% endif %}
                                </a>
                                
                            </div>
                                
                            <hr class="w-75 my-5 text-white shadow mx-auto">
                            
                        {% endfor %}
                    {% else %}
                        <div class="col-12 text-center">
                            <h4 class=text-white>No recipes linked yet.</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>
   
    <!-- Back to home button -->
    <div class="row">
        <div class="col-12 mb-5 my-4 text-center">
            <a aria-label="home page" href="{% url 'home' %}" class="btn btn1 mt-0 mb-4">
                Back to Home
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}