{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-4">
                <h2 class="fs-1 logo-font">Recipes</h2>
                <hr class="w-50 my-4 mx-auto">
                <!-- displaying category type as a clickable button to filter category type -->
                {% for c in chosen_categories %}
                    <a aria-label="view products in categories" class="btn btn1 text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 text-black">{{ c.name }}</span>
                    </a>
                {% endfor %}
                
            </div>
        </div>
        <!-- sorting feature sections -->
        <!-- sorting urls set up in option tags -->
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-black mt-3 text-center text-md-left">                                                    
                            <!-- django length template filter used to count all found landing page -->
                            <!-- displays for filtered and if statement if searched -->
                            Showing <strong class="logo-font">{{ recipes|length }}</strong> recipes{% if search_word %} found for <strong>"{{ search_word }}"</strong>{% else %} for your search{% endif %}
                        </p>
                    </div>
                </div>
                <!-- Back to Home button at the top for user to return to landing page -->
                <div class="row">
                    <div class="col-12 my-auto text-center mt-2">
                        <a aria-label="home page" href="{% url 'home' %}" class="btn btn1 mt-0 mb-4">
                            Back to Home
                        </a>
                    </div>
                </div>
                <!-- structure and styling of products displaying -->
                <div class="row my-5">
                    {% for recipe in recipes %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if recipe.image %}
                                <a aria-label="view recipe in recipe details page" class="text-decoration-none" href="#">
                                    <img class="card-img card-img-fluid" src="{{ recipe.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a aria-label="view recipe with no image in recipe details page" href="#">
                                    <img class="card-img card-img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <h3 class="mb-3 logo-font text-center">{{ recipe.name }}</h3>                     
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <small class="mb-0 text-muted">
                                                Prep time: <strong>{{ recipe.prep_time }}</strong> minutes
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <small class="mb-0 logo-font text-muted">
                                                Cooking time: <strong>{{ recipe.cooking_time }}</strong> minutes
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- full width for each product on smaller screen, two/three on medium and four on large -->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
    <!-- back to the top button -->
    <!-- js to scroll page back to the top -->
    <!-- css to fix position in bottom right corner -->
    <div class="btt-button shadow-sm">
        <a href="#" class="top-btt d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}
{% block postloadjs %}
    <!-- to scroll back to the top if clicked -->
    <script>
        $('.top-btt').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}