{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-4">
                <h1 class="logo-font">Recipes</h1>
                <hr class="w-50 my-4 mx-auto">
                <!-- displaying category type as a clickable button to filter category type -->
                {% for c in chosen_categories %}
                    <a aria-label="view recipes in categories" class="btn btn1 text-decoration-none" href="{% url 'recipes' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 text-black">{{ c.name }}</span>
                    </a>
                {% endfor %}
                
            </div>
        </div>
        <!-- sorting feature sections -->
        <!-- sorting urls set up in option tags -->
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row mt-1 mb-2">
                        <div class="col-12 col-md-6 my-auto mt-3 order-md-last d-flex justify-content-center justify-content-md-end">
                            <div class="sort-select-wrapper w-75">
                                <select id="sort-selector" class="custom-select w-100 custom-select-sm btn{% if chosen_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if chosen_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="price_asc" {% if chosen_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                    <option value="price_desc" {% if chosen_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                    <option value="rating_asc" {% if chosen_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                    <option value="rating_desc" {% if chosen_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                    <option value="name_asc" {% if chosen_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                    <option value="name_desc" {% if chosen_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                    <option value="category_asc" {% if chosen_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                    <option value="category_desc" {% if chosen_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                    <option value="brand_asc" {% if chosen_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                                    <option value="brand_desc" {% if chosen_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                                    <option value="type_asc" {% if chosen_sorting == 'type_asc' %}selected{% endif %}>Type (New-Used)</option>
                                    <option value="type_desc" {% if chosen_sorting == 'type_desc' %}selected{% endif %}>Type (Used-New)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 order-md-first">
                            <p class="text-white mt-3 text-center text-md-left">                                                    
                                <!-- django length template filter used to count all found landing page -->
                                <!-- displays for filtered and if statement if searched -->
                                Showing (<strong class="logo-font orange-theme"> {{ recipes|length }} </strong>) recipes{% if search_word %} found for <strong>"{{ search_word }}"</strong>{% else %} for your search{% endif %}
                            </p>
                        </div>
                        
                    
                </div>
                <!-- Back to Home button at the top for user to return to landing page -->
                <div class="row">
                    <div class="col-12 my-auto text-center my-3 mx-3">
                        <a aria-label="home page" href="{% url 'home' %}" class="btn btn1 my-3 mx-3">
                            Back to Home
                        </a>
                        {% if request.user.is_superuser %}
                            <a aria-label="Add Recipe" href="{% url 'add_recipe' %}" class="btn btn1 my-3 mx-3">
                                Add Recipe
                            </a>
                        {% endif %}
                    </div>
                </div>
                <!-- structure and styling of products displaying -->
                <div class="row my-5">
                    {% if recipes %}
                        {% for recipe in recipes %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 rounded-4">
                                <div class="rounded-3 category-div">
                                    <div class="row">
                                        <div class="col-12">
                                            <h2 class="my-4 logo-font text-center">{{ recipe.name }}</h2>
                                        </div>                     
                                    </div>
                                    {% if recipe.image %}
                                    <a aria-label="view recipe in recipe details page" class="text-decoration-none" href="{% url 'full_recipe' recipe.id %}">
                                        <div class="text-center col-12">
                                            <img class="recipe-image mb-5 mx-auto" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                                        </div>
                                        
                                    </a>
                                    {% else %}
                                    <a aria-label="view recipe with no image in recipe details page" href="#">
                                        <div class="text-center">
                                            <img class="recipe-image mb-5" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.name }}">
                                        </div>
                                    </a>
                                    {% endif %}
                                    
                                    <div class="card-footer pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col my-3">
                                                <small class="text-white">
                                                    Prep time: <strong>{{ recipe.prep_time }}</strong> minutes
                                                </small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mb-3">
                                                <small class="logo-font text-white">
                                                    Cooking time: <strong>{{ recipe.cooking_time }}</strong> minutes
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-center mb-2">
                                            <a aria-label="update" class="text-info fs-6" href="{% url 'update_recipe' recipe.id %}"><strong><i class="fas fa-wrench"></i></strong></a>
                                        </div>
                                        <div class="col-6 text-center mb-2">
                                            <a aria-label="delete" class="text-danger fs-6" href="{% url 'delete_recipe' recipe.id %}"><strong><i class="fas fa-trash-alt"></i></strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- full width for each product on smaller screen, two/three on medium and four on large -->
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}                        
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <!-- if no recipes are found for category -->
                        <div class="col-12">
                            <h2 class="text-center">No recipes found. Please try again. </h2>
                        </div>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
    <!-- back to the top button -->
    <!-- js to scroll page back to the top -->
    <!-- css to fix position in bottom right corner -->
    <div class="btt-button shadow-sm">
        <a href="#" class="top-btt d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}
{% block postloadjs %}
    <!-- to scroll back to the top if clicked -->
    <script>
        $('.top-btt').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}