{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center my-3">
                <h1 class="logo-font mt-3">Update Recipe</h1>
                <hr class="w-50 my-4 mx-auto">
                <!-- Welcoming user using their username -->
            </div>
        </div>
        <!-- Add_product form rendered as crispy -->
        <div class="row">
            <div class="col-12 col-md-5 mx-auto">
                <h2 class="text-center">{{ recipe.name }}</h2>
                <div class="image-container mt-5 mb-2">
                    <!-- if product has no image, display general 'none' image in Media -->
                    {% if recipe.image %}
                        <img class="card-img card-img-fluid rounded-3" src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
                    {% else %}
                        <a aria-label="view recipe with no image in recipe details page" href="#">
                            <img class="card-img card-img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ recipe.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-5 mb-4 p-3 mx-auto shadow black-background">
                <div class="mx-auto text-center">

                
                    <!-- form enctype attr to upload image -->
                    <form method="POST" action="{% url 'update_recipe' recipe.id %}" id="recipe-form" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- To hide image label and load everything else as crispy form -->
                        {% if recipe_form.errors %}
                            {% for field in recipe_form %}
                                {% for error in field.errors %} 
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <h3 id="recipe" class="my-3">Recipe</h3>
                        {% for field in recipe_form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}

                        {% if ingredient_form %}
                        <h3 id="ingredients" class="my-3">Ingredients</h3>
                            {% for field in ingredient_form %}
                                {% if field.name != 'image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if linked_recipe_form %}
                        <h3 id="links" class="my-3">Link Recipes</h3>
                            {% for field in linked_recipe_form %}
                                {% if field.name != 'image' %}
                                    {{ field | as_crispy_field }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        <!-- submit button and cancel button for product_form -->
                        <div class="text-center my-3">
                            <a aria-label="cancel" class="btn btn1 me-2" href="{% url 'recipes' %}">Cancel</a>
                            <button aria-label="update recipe" class="btn btn1" type="submit">Update Recipe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- To handle notifying the user of what the image uploaded is going to be -->
{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.new-image').change(function() {
            var file = $('.new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}